<template>
  <div>
    <v-label>Make Announcement</v-label>
 
    <v-form
      ref="form"
      v-model="form"
      class="pa-2 pt-2"
    >
    <v-text-field label="Title" v-model="Title"></v-text-field>
    <v-text-field label="Body" v-model="Body"></v-text-field>
    </v-form>
    <v-btn color="primary" @click="Notify();">Announce</v-btn>
    <v-btn color="primary" @click="Subscribe()">Subscribe</v-btn>
  </div>
</template>

<script>
import axios from "axios";
// import firebase from '../firebase'

export default {
  data() {
    return {
        Title: '',
        Body: ''
    };
  },
  methods: {
    Subscribe: ()  => {
      Notification.requestPermission().then(function (permission){
         if (permission === "granted") {
        new Notification("Permission Granted");
      }
      })
    },
    Notify: function() {
      var notification = {
        notification: {
          title: this.Title,
          body: this.Body,
          icon: "firebase-logo.png",
          click_action: "http://www.google.com"
        },
        to:
          "dXfyong_msTnLhLzpFMQBf:APA91bFqir5JfCEJlPQLUNQGrI4eK34gwnO5TRse2PuR61hKDWfe8C-FsNSHIkuAsGCMSfsfvJ2wiFy3dWB1s4VKM3Y12i3GvEeycGHq7T0eb7ri0U-mSTB-NX51W2rRInMHG6WAdHgL"
      }
      var method = {
        method: "POST",
        url: "https://fcm.googleapis.com/fcm/send",
        data: notification,
        headers: {
          Authorization:
            "key=AAAALuShjtI:APA91bFjsxF_MadXN5-j5M3leaSeq6LzOi8VOIxiQsG8KUG9T2z6e-4STWcLgYnY6S4wwroYxp0Fztk6ssaVHvFpcyodOybLipLOPGmy4F2hhvNZmkzFeeNlfCDNoW5PFcyHJq2wGTl9",
            "Content-Type": "application/json"
        },
        json: true
      };
      return axios(method)
        .then(function(response) {
          
          console.log(response)
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  //   Announce: function() {
  //     let r = Math.random().toString(36).substring(7)
  //     firebase.database().ref('Barangay/7ivdJvY8c3WMSlHdkwty/Announcements/' + r).set({
  //       CreatedBy: "Marvin,May 29",
  //       Date: Date.now(),
  //       Message: this.Body,
  //       Title: this.Title
  //     })
  //   }
 }
};
</script>