<template>
<div>
    <div v-for="(Announcement, x) in AnnouncementDetails" :key="x">
  <v-card
    class="mx-auto"
    max-width="auto"
    outlined
  >
    <v-list-item three-line >
      <v-list-item-content>
         <v-toolbar
          color="green accent-4"
          cards
          dark
          flat
          >
    <v-card-title class="title font-weight-regular">{{Announcement.Title}}</v-card-title>
    </v-toolbar>
    <div class="overline mb-4">{{Announcement.Date}}</div>
    <v-card-subtitle>{{Announcement.CreatedBy}}</v-card-subtitle>
        <v-card-text>{{Announcement.Message}}</v-card-text>
      </v-list-item-content>
      <v-list-item-avatar
        tile
        size="80"
      >
      <v-img src="https://cdn.vuetifyjs.com/images/lists/1.jpg"></v-img>
      </v-list-item-avatar>
    </v-list-item>
     <v-card-actions>
      <v-btn text href="http://www.facebook.com">View More</v-btn>
    </v-card-actions>
  </v-card>
    </div>
</div>
</template>
<script>

import { mapState } from 'vuex'
export default {
    name : 'AnnouncementCard',
    created() {
     this.$store.dispatch('getAnnouncementDetails')
    },
    computed: {
       ...mapState({AnnouncementDetails: 'AnnouncementDetails'})
    }
}
</script>