<template>
  <div>{{ countAnnouncements }}</div>
</template>

<script>
export default {
  name: 'count-announcement',
  computed: {
    countAnnouncements() {
      return this.$store.getters.countAnnouncements
    }
  }
}
</script>