<template>
  <v-app id="inspire">
     <toolbar></toolbar> 
    <navigation-drawer></navigation-drawer>
    <v-content style="margin-left:50px;">
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import Toolbar from './components/ToolBar.vue'
import NavigationDrawer from './components/NavigationDrawer.vue'

export default {
  name: 'App',
  components: {
     NavigationDrawer,
      Toolbar
  },
  data: () => ({
    drawer: null,
  })
};
</script>